{{page-title "Posts"}}
{{outlet}}
{{!-- 
<h2>Blog Posts</h2>
<ul>
  {{#each this.model as |post|}}
    <li>
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </li>
  {{/each}}
</ul>
--}}


<h2>Blog Posts</h2>
<ul>
  {{#each this.model as |post|}}
    <li>
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </li>
  {{/each}}
</ul>